## Handling categorical Features

### One Hot Encoding

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [5]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [7]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [8]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [9]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [28]:
df.dropna(inplace=True)

In [29]:
df.head()

   X0 X1  X2 X3 X4 X5 X6  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d   0  0  0  0  1  0  0  0  0  0

In [30]:
pd.get_dummies(df).head()

,aa,s,b,l,v,r,i,a,c,o,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### One hot encoding with may categories in a feature

In [31]:
df=pd.read_csv('benz.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [32]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [33]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
i      18
am     18
aq     18
u      17
l      16
aw     16
ad     14
au     11
b      11
k      11
r      10
as     10
bc      6
ao      4
c       3
q       2
aa      2
ab      1
ac      1
g       1
Name: X0, dtype: int64

In [34]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [35]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [36]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [37]:
import numpy as np

In [38]:
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [39]:
df['X1']

0        v
1        t
2        w
3        t
4        v
5        b
6        r
7        l
8        s
9        b
10       r
11       r
12       b
13       r
14       s
15       l
16       r
17      aa
18       c
19       a
20       s
21      aa
22       r
23       b
24       r
25       s
26       l
27      aa
28       s
29       b
        ..
4179     a
4180     v
4181     r
4182     v
4183    aa
4184     s
4185     v
4186     f
4187     l
4188     s
4189     s
4190     s
4191     v
4192     l
4193     v
4194     o
4195     l
4196     o
4197     v
4198     a
4199    aa
4200    aa
4201     v
4202     l
4203     s
4204     s
4205     o
4206     v
4207     r
4208     r
Name: X1, Length: 4209, dtype: object

In [40]:
lst_10.append('X1')

In [42]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o  X1
0      0  0  0  0  1  0  0  0  0  0   v
1      0  0  0  0  0  0  0  0  0  0   t
2      0  0  0  0  0  0  0  0  0  0   w
3      0  0  0  0  0  0  0  0  0  0   t
4      0  0  0  0  1  0  0  0  0  0   v
5      0  0  1  0  0  0  0  0  0  0   b
6      0  0  0  0  0  1  0  0  0  0   r
7      0  0  0  1  0  0  0  0  0  0   l
8      0  1  0  0  0  0  0  0  0  0   s
9      0  0  1  0  0  0  0  0  0  0   b
10     0  0  0  0  0  1  0  0  0  0   r
11     0  0  0  0  0  1  0  0  0  0   r
12     0  0  1  0  0  0  0  0  0  0   b
13     0  0  0  0  0  1  0  0  0  0   r
14     0  1  0  0  0  0  0  0  0  0   s
15     0  0  0  1  0  0  0  0  0  0   l
16     0  0  0  0  0  1  0  0  0  0   r
17     1  0  0  0  0  0  0  0  0  0  aa
18     0  0  0  0  0  0  0  0  1  0   c
19     0  0  0  0  0  0  0  1  0  0   a
20     0  1  0  0  0  0  0  0  0  0   s
21     1  0  0  0  0  0  0  0  0  0  aa
22     0  0  0  0  0  1  0  0  0  0   r
23     0  0  1  0  0  0  0  0  0  0   b
24     0  0  0  0  0  1  0  0  0  0   r
25     0  1  0  0  0  0  0  0  0  0   s
26     0  0  0  1  0  0  0  0  0  0   l
27     1  0  0  0  0  0  0  0  0  0  aa
28     0  1  0  0  0  0  0  0  0  0   s
29     0  0  1  0  0  0  0  0  0  0   b
...   .. .. .. .. .. .. .. .. .. ..  ..
4179   0  0  0  0  0  0  0  1  0  0   a
4180   0  0  0  0  1  0  0  0  0  0   v
4181   0  0  0  0  0  1  0  0  0  0   r
4182   0  0  0  0  1  0  0  0  0  0   v
4183   1  0  0  0  0  0  0  0  0  0  aa
4184   0  1  0  0  0  0  0  0  0  0   s
4185   0  0  0  0  1  0  0  0  0  0   v
4186   0  0  0  0  0  0  0  0  0  0   f
4187   0  0  0  1  0  0  0  0  0  0   l
4188   0  1  0  0  0  0  0  0  0  0   s
4189   0  1  0  0  0  0  0  0  0  0   s
4190   0  1  0  0  0  0  0  0  0  0   s
4191   0  0  0  0  1  0  0  0  0  0   v
4192   0  0  0  1  0  0  0  0  0  0   l
4193   0  0  0  0  1  0  0  0  0  0   v
4194   0  0  0  0  0  0  0  0  0  1   o
4195   0  0  0  1  0  0  0  0  0  0   l
4196   0  0  0  0  0  0  0  0  0  1   o
4197   0  0  0  0  1  0  0  0  0  0   v
4198   0  0  0  0  0  0  0  1  0  0   a
4199   1  0  0  0  0  0  0  0  0  0  aa
4200   1  0  0  0  0  0  0  0  0  0  aa
4201   0  0  0  0  1  0  0  0  0  0   v
4202   0  0  0  1  0  0  0  0  0  0   l
4203   0  1  0  0  0  0  0  0  0  0   s
4204   0  1  0  0  0  0  0  0  0  0   s
4205   0  0  0  0  0  0  0  0  0  1   o
4206   0  0  0  0  1  0  0  0  0  0   v
4207   0  0  0  0  0  1  0  0  0  0   r
4208   0  0  0  0  0  1  0  0  0  0   r

[4209 rows x 11 columns]